
#modalContent textarea {
	width: 100%;
	resize: vertical;
	max-height: 400px;
}

#modalContent .textInputLabel {
    font-weight: bold;
}

#modalContent .inputGroup {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}


#modalContent .modalHeader {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 14px;
}

#modalContent .inputGroup, 
#modalContent .inputGroup label, 
#modalContent .inputGroup input,
#modalContent .inputGroup textarea,
#modalContent .inputGroup svg
 {
  padding: 2px 5px 2px 0;
  margin: 2px 5px 2px 0;
}

#modalContent .inputGroup label {
  flex-shrink: 0;
}

#modalContent .inputGroup textarea, 
#modalContent .inputGroup input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modalContent .inputGroup textarea {
  width: 60%;
}

#modalContent .inputGroup input[type="text"] {
  width: 50%;
}


#modalContent div.radioGroup {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 13px;
}

/*
  For the parent label of a radio group
*/
#modalContent .radioGroup > label.radioGroupLabel {
    padding: 8px 8px 8px 0;
    font-weight: bold;
}

/*
  Indent individual radio button options
*/
#modalContent .radioGroup .inputGroup{
    margin-left: 15px;
}

#modalContent .error {
  color: red;
}
#modalContent div.conditionalLayerFields {
  margin-left: 25px;
}
#modalContent .inputGroup.conditionalLayerField {
  font-size: 80%;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

h4.conditionalLayerFieldsHeader {
  font-weight: bold;
}