#Geocoder {
	max-width: 350px;
	}

#hidden-geocoder-map {
	display: none;
	width: none;
	height: none;
}
.Geocoder .leaflet-control-geocoder {
	border-radius: 5px 5px 0 0;

}

.Geocoder .leaflet-control-geocoder button.leaflet-control-geocoder-icon {
	padding: 5px 15px;
	border-radius: 4px;
	height: 2em;
	width: 2em;
	font-size: 1.3em;
}

.Geocoder .leaflet-control-geocoder.leaflet-control-geocoder-expanded {
	max-width: 350px;
	min-width: 80px;
	width: 100%;
}

.Geocoder input {
	margin: 5px;
    position: relative;
}

.Geocoder .leaflet-control-geocoder-alternatives, 
	.Geocoder .leaflet-control-geocoder-form-no-error,
	.Geocoder .leaflet-control-geocoder-error {
	position: absolute;
	/*top: -135px;*/
	background-color: white;
}

.Geocoder.Viewbar-hidden .leaflet-control-geocoder-alternatives, 
	.Geocoder .leaflet-control-geocoder-form-no-error,
	.Geocoder .leaflet-control-geocoder-error
	{
		bottom:38px;
	}

.Geocoder.Viewbar-hidden .leaflet-control-geocoder {
	border-radius: 0 0 5px 5px;
}

.leaflet-control-geocoder-alternatives li {
	white-space: normal;
}

.Geocoder .leaflet-control-geocoder-error {
	margin-top: 0;
	margin-left: 0;
	padding: 8px;
}
.Geocoder .leaflet-control-geocoder-form {
	flex: 2 1 1;
	width: calc(100% - 50px);
}

.Geocoder .leaflet-control-geocoder-alternatives, 
.Geocoder .leaflet-control-geocoder-form-no-error,
{
	font-size: 85%;
}

.Geocoder .leaflet-control-geocoder-form input {
	border: 0;
	background-color: transparent;
	width:100%;
}

.Geocoder .leaflet-control-geocoder-icon {
	vertical-align: middle;
	background-image: url(/sideby/assets/images/search-32.png);
}
@media (max-width: 600px) {
	.Geocoder .leaflet-control-geocoder-icon {
	background-image: url(/sideby/assets/images/search-smaller.png);
	}	
}


.leaflet-control-geocoder-alternatives {
	width: 100%;
}