@import "~leaflet-loading/src/Control.Loading.css";

/*
	Just fyi this rule could have unintended side effects.
*/
div.leaflet-control-zoom.leaflet-control-layer-container.leaflet-bar.leaflet-control {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.leaflet-bar a.leaflet-control-loading {
	background-color: transparent;
}