
#maps {
	background-color: var(--background-color);
}

.map0 {  
  width: 100vw;
}


.Row {
	height:100%;
	width:100%;
}
.


div[data-react-beautiful-dnd-placeholder='0'] {
	display: flex;

}

@media screen and (orientation: portrait) {

	@media (max-height: 600px) {
		.no-maps p {
			font-size: 1em;
			line-height: 1.1em;
		}
	}

	@media (min-height: 601px) and (max-height: 800px) {
		.no-maps p {
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}

	@media (min-height: 801px) and (max-height: 900px) {
		.no-maps p {
			font-size: 1.7em;
			line-height: 1.3em;
		}
		.map-title {
			font-size:2em;
		}
		.map-title.long-title {
			font-size:1em;
		}
	}

	@media (min-height: 901px) and (max-height: 1000px) {
		.map-title .no-maps p {
			font-size:2.5em;
		}

		.no-maps p {
			line-height: 1.6em;
		}
		.map-title.long-title {
			font-size:1.5em;
		}
	}

	@media (min-height: 1001px) {
		.map-title,.no-maps p {
			font-size:3em;
		}
		.no-maps p {
			line-height: 2.5em;
		}
		.map-title.long-title {
			font-size:2em;
		}
	}
}

@media screen and (orientation: landscape) {

	@media (min-width: 501px) and (max-width: 600px) {
		.no-maps p {
			font-size: 1em;
			line-height: 1.1em;
		}
	}

	@media (min-width: 601px) and (max-width: 800px) {
		.no-maps p {
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}

	@media (min-width: 801px) and (max-width: 1100px) {
		.no-maps p {
			font-size: 1.4em;
			line-height: 1.3em;
		}
	}


	/*@media (min-width: 1101px) and (max-width: 1600px) {*/
	@media (min-width: 1101px) {
		.no-maps p {
			font-size: 1.7em;
			line-height: 1.4em;
		}
		.map-title {
			font-size:2em;
		}
		.map-title.long-title {
			font-size:1em;
		}
	}

/*	@media (min-width: 1601px) and (max-width: 1850px) {
		.map-title, .no-maps p {
			font-size:2.5em;
		}

		.no-maps p {
			line-height: 2em;
		}
		.map-title.long-title {
			font-size:1.5em;
		}
	}
*/
/*	@media (min-width: 1851px) {
		.map-title,.no-maps p {
			font-size:3em;
		}
		.no-maps p {
			line-height: 2.5em;
		}
		.map-title.long-title {
			font-size:2em;
		}
	}*/
}

.Row {
	display:flex;

}

.Row > div {
	flex: 1;
	position:relative;
	flex-basis: 200px;
	margin: 3px;
}

.Row > div:first-child {
	margin-left: 0;
}

.Row > div:last-child {
	margin-right: 0;
}


.row1 .leaflet-container, .row2 .leaflet-container, div[data-react-beautiful-dnd-placeholder='0']  {
	height:100%;
}

div[data-react-beautiful-dnd-placeholder='0'] {
	flex-grow: 1 !important; /*hmmm */
	flex-shrink: 1 !important;
}

.row1 {
	height:100%;
}
.row1.two-rows, .row2.two-rows {
	height:50%;
}
.row1, .row2 {
	width:100%;
}

/*
@media (min-width:800px) {

*/

/*
	#maps .map0, #maps .map1, #maps .map2, #maps .map3, #maps .map5 {
		height:100%;
		position: absolute;
	}


	#maps .map1.dragging {
		position: static;
	}

	#maps .map1 {
		width:100vw;
	}
*/

/* Two maps side by side 
	
	map map
*/


/*
	.map2 {
		width:49.75vw;
	}

	.map2.p0{
		left:0;
	}


	.map2.p1 {
		right:0;
	}
*/

/* Three maps in a single row

	map map map
*/

/*
	.map3 {
		width:33%;
	}

		.map3.p0 {
			left:0;
		}
		.map3.p1 {
			left:33.5%;
		}
		.map3.p2 {
			right: 0;
		}
*/

/* 4 maps arranged 2x2 

	map map
	map map
*/

/*
	.map4 {
		width: 49.75vw;
		height: 49.5%;
	}
	.map4.p0 {
		top:0;
		left:0;
	}
	.map4.p1 {
		top:0;
		right:0;
	}
	.map4.p2 {
		bottom:0;
		left:0;
	}
	.map4.p3 {
		bottom:0;
		right:0;
	}
*/

/*	5 maps arranged 3 x 2

	map map map
	  map map
*/
/*
.map5 {
	height:49.5%;
}
.map5.p0, .map5.p1, .map5.p2 {
	width: 33%;
}

.map5.p3, .map5.p4 {
	width: 49.75vw;
}

.map5.p0{
	left:0;
}
.map5.p1{
	left: 33.5%;
}
.map5.p2{
	right: 0;
}

.map5.p3{
	bottom: 0;
	left: 0;
}
.map5.p4{
	bottom: 0;
	right: 0;
}
*/

/*
	6 maps

	map map map
	map map map
*/

/*
.map6 {
	width: 33%;
	height: 49.5%;
}

.map6.p0{	
	top:0;
	left:0;
}
.map6.p1{
	top:0;
	left: 33.5%;	
}
.map6.p2{	
	top:0;	
	right:0;
}
.map6.p3{
	bottom:0;	
	left:0;
}
.map6.p4{	
	bottom:0;
	left: 33.5%;	
}
.map6.p5{	
	bottom:0;	
	right:0;
}

*/

/*
7 maps

map map map map
  map map map

*/

/*
.map7 {
	width:24.5%;
	height: 49.5%;
}

.map7.p0{	
	top:0;
	left:0;
}
.map7.p1{
	top:0;
	left: 25.15%;	
}
.map7.p2{	
	top:0;	
	left:50.3%;
}
.map7.p3{
	top:0;	
	right:0;
}
.map7.p4{
	width:33%;
	bottom:0;
	left: 0;	
}
.map7.p5{	
	width:33%;
	bottom:0;	
	left: 33.5%;
}
.map7.p6{	
	width:33%;
	bottom:0;
	left: 67%;	
}
*/

/*
8 Maps, 4 x 2

map map map map
map map map map

*/

/*
.map8 {
	width: 24.5%;
	height: 49.5%;
}

.map8.p0{	
	top:0;
	left:0;
}
.map8.p1{
	top:0;
	left: 25.15%;	
}
.map8.p2{	
	top:0;	
	left:50.3%;
}
.map8.p3{
	top:0;	
	right:0;
}
.map8.p4{	
	bottom:0;
	left: 0;	
}
.map8.p5{	
	bottom:0;	
	left: 25.15%;
}
.map8.p6{	
	bottom:0;
	left: 50.3%;	
}
.map8.p7{	
	bottom:0;	
	right:0;
}

*/