/*
Modal animations
*/

@-webkit-keyframes modal-dropin {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0; }
  1% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0; }
  2% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes modal-dropin {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0; }
  1% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0; }
  2% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes modal-dropout {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px); } }

@keyframes modal-dropout {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px); } }

div.ReactModalPortal div.Modal-Content.ReactModal__Content--before-close {
  -webkit-animation: modal-dropout .4s;
  animation: modal-dropout .4s; 
}

div.ReactModalPortal div.Modal-Content {
  -webkit-animation: modal-dropin .4s;
  animation: modal-dropin .4s; 
}
   
div.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms linear;
}

div.ReactModal__Overlay--after-open{
    opacity: 1;
}

div.ReactModal__Overlay--before-close{
    opacity: 0;
}

/*
End animations section
*/


.ReactModalPortal div {
    z-index: 10000;
}

.Modal-Content {
    position: relative;
    margin: 0 auto;
    top: 0;
    width:500px;
    max-width: 90%;
    bottom: 5%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }


#modalContent .textInputLabel {
    font-weight: bold;
}

#modalContent .inputGroup {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

#modalContent .inputGroup, 
#modalContent .inputGroup label, 
#modalContent .inputGroup input,
#modalContent .inputGroup textarea,
#modalContent .inputGroup svg
 {
  padding: 2px 5px 2px 0;
  margin: 2px 5px 2px 0;
}

#modalContent .inputGroup label {
  flex-shrink: 0;
}

#modalContent .inputGroup textarea , #modalContent .inputGroup input[type="text"] {
  padding: 10px;
}

#modalContent .inputGroup textarea {
  width: 60%;
}

#modalContent .inputGroup input[type="text"] {
  width: 50%;
}


#modalContent div.radioGroup {
    display: flex;
    flex-direction: column;
}

/*
  For the parent label of a radio group
*/
#modalContent .radioGroup > label.radioGroupLabel {
    padding: 8px 8px 8px 0;
    font-weight: bold;
}

/*
  Indent individual radio button options
*/
#modalContent .radioGroup .inputGroup{
    margin-left: 15px;
}

#modalContent .error {
  color: red;
}
