.Row {
	display:flex;
	align-items: stretch;
	flex-grow: 1;

}

.Row > div {
	flex: 1;
	position: relative;
	display: flex;
	align-items: stretch;
	flex-basis: 200px;
	margin: 3px;
}

.Row > div:first-child {
	margin-left: 0;
}

.Row > div:last-child {
	margin-right: 0;
}

.row1 .leaflet-container, 
.row2 .leaflet-container,
.row3 .leaflet-container,
div[data-react-beautiful-dnd-placeholder='0']  {
	/*height:100%;*/
	display: flex;
	flex-grow: 1;
	align-items: stretch;
}

div[data-react-beautiful-dnd-placeholder='0'] {
	flex-grow: 1 !important; /*hmmm */
	flex-shrink: 1 !important;
}

.row1 {
	/*height:100%;*/
}
.row1.two-rows, .row2.two-rows {
	/*height:50%;*/
}
.row1.three-rows, .row2.three-rows, .row3.three-rows {
	/*height:33%;*/
}
.row1, .row2, .row3 {
	/*width:100%;*/
}

