.ScrollButton {
  position: absolute;
  top: 30%;
  width:65px;
  height:65px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;  
     -moz-user-select: none;     
      -ms-user-select: none;      
          user-select: none;      

}

.ScrollButton button {
	width:45px;
  height:45px;
  position: relative;
  top:5px;
  border: none;
  font-size: 25px;
  border-radius: 50%;
	outline:black 5px;
  background-color: var(--text-tertiary-color);
  color: black;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	transition: background-color 0.1s linear;
  transition: box-shadow 0.1s linear;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;  
     -moz-user-select: none;     
      -ms-user-select: none;      
          user-select: none;      

}

.ScrollButton button:hover {
  background-color: var(--text-secondary-color);
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
  transition: background-color 0.1s linear;
  transition: box-shadow 0.1s linear; 
}

.ScrollButton button:active {
	transform:translatey(6px);
  box-shadow: none;
  transition: transform 0.1s linear;
	transition: box-shadow 0.1s linear; 
}

.left {
	left: 7px;
}

.right {
	right: 7px;
}