/*
*	Default theming. Can be adjusted using config options
*   	prefixed with theme
*/

:root {
    --header-color: #222;
    --header-font-family: "Montserrat", "sans-serif";
    --scroll-button-hover-color: rgb(208, 208, 208);
    --scroll-button-color: rgb(228, 228, 228);
    --background-color: rgb(215, 215, 215);
}